<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>Create Questionnaire</title>
</head>

<body>
    <section>
        <form action="#" th:action="@{/questionnaires} + '/' + ${questionnaire.id}" th:object="${questionnaire}"
            method="post">
            <div class="form-group row">
                <label class="col-md-2" for="title">Title:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{title}" autofocus="autofocus" />
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Incorrect title</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" for="description">Description:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{description}" />
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Incorrect title</span>
                </div>
            </div>
            <div class="form-group row">
                <a class="btn btn-default" th:href="@{/questionnaires}">Cancel</a>
                
                <input type="hidden" name="_method" value="PUT" />
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </section>
</body>

</html>